{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "Settlement__PerPaymentDelayMs": "50",
    "Settlement__FailureRate": "0.02",
    "PaymentSettler__ProgressReportInterval": "1"
  }
}
